* {
    font-family: 'Krungthep';
}

.h-chart {
    opacity: 0.5;
}

.icon-hover:hover {
    color: red;
}

.design-logo {
    width: 40px;
    display: inline-block;
    margin-left: 20px;
}

.design-title {
    display: inline-block;
    margin-left: 5px;
    line-height: 60px;
    font-size: 20px;
    color: #F59F22;
}

.design-border {
    border: 1px solid red;
}

.design-page-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    /* width: 90%; */
    position: relative;
}

.design-page-card:hover{
    border: 3px solid #ccc;
    cursor: pointer;
}

.design-page-card-active {
    border: 3px solid blue;
}

.page-card-number {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.chart-type-bg {
    background-size: 720px 660px;
}

.template-chart-border {

}

.template-chart-border:hover {
    border: 1px solid #4169E1;
    cursor: pointer;
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  background: #F1F4F4;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgba(0, 0, 0, 0);
  }
/* 
.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */




.example-header {
  
  /* background: linear-gradient(to right, #cfd9df, #e2ebf0, #ffecd2, #fcb69f); */
  display: flex;
  align-items: center;
  background: #fff;
  color: #F59F22;
  text-align: center;
  padding: 1em 0;
  font-weight: bolder;
}

.example-header h2 {
  font-size: 40px;
}

.example-chart-container {
  margin: 20px auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
  position: relative;
  /* padding: 20px; */
}

.example-examplechart {
  background: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* padding: 20px; */
  text-align: center;
  width: 100%;
  min-height: 400px;
  position: relative;
  margin-top: 20px
}

.example-examplechart-title {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-align: left;
  width: 30%;
  margin-top: 20px;
  z-index: 100;
}

.icon-button {
  width: 60px; 
  height: 60px; 
  padding: 0; 
  border-radius: 50%; 
  color: #4169E1;
  font-size: 50px;
  display: flex;
  margin: 10px 5px; 
}

.timeline-line {
  width: 600px; 
  margin: 50px auto;
  position: relative;
}

.timeline-node-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 40px 0;
  border: 1px solid #ddd;
}

.timeline-node-container::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  top: 50%;
  left: 0;
  z-index: 0;
}

.timeline-node-container::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  border-left-color: #000;
  border-width: 10px;
  margin-top: -10px;
  z-index: 1;
}

.timeline-node {
  position: relative;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 20px; 
  height: 20px; 
  margin: 0 30px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.timeline-script-container {
  position: absolute;
  bottom: -60px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  min-height: 60px;
}

.pre-steps-container {
  height: 75vh;
  width: 100%;
  overflow: auto;
  font-family: "Krungthep" !important;
}

.pre-steps-container * {
  font-family: "Krungthep";
}

.pre-steps-container textarea {
  font-family: "Helvetica" !important;
}

.steps-container {
  font-family: "Krungthep" !important;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px 0px;
  min-height: 200px;
  height: auto;
  color: #7F7F7F;
}

.pre-step-node {
  /* border: 1px solid #4169E1; */
  height: 100%;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
  background-color: #F6CF9F;
  height: 220px;
  box-shadow: 1px 1px 1px #F6CF9F;
  border-radius: 5px;
  
}
.pre-step-node-title strong {
  font-family: "Krungthep" !important;
}
/* .pre-step-node:hover {
  background-color: #4169E1;
  color: #fff;
} */

/* .pre-step-node-disabled {
  position: relative;
  border: 1px solid #4169E1;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
} */
.pre-step-node-control-disabled {
  background-color: #F5F5F5; 
  color: #D3D3D3; 
  opacity: 0.5; 
  cursor: not-allowed; 
  /* height: 100%; */
  /* padding: 5px; */
  margin-left: 5px;
}
.pre-step-node-disabled .switch-button {
  cursor: pointer;
  opacity: 1; /* 重置透明度以保持清晰可见 */
  /* 其他需要的样式 */
}
/* .pre-step-node-disabled::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  pointer-events: none;
} */

.pre-script-container {
  width: 100%;
  height: 120px;
  font-size: 0.8em;
  background-color: #F6CF9F;
  /* border: 1px solid #ddd; */
  padding: 0px;
  border-radius: 5px;
  min-height: 60px;
  margin-bottom: 10px;
}

.nav-link {
  color: #7DB2D7;
  font-weight: bold;
  font-family: "Krungthep" !important;
}

.nav-tabs .nav-link.active {
  background-color: #7DB2D7;
  color: #fff;
}
.nav-tabs .nav-item {
  border-radius: 60%;
}
.pre-script-tabs {
  border-bottom: #7DB2D7 2px solid;
  color: #7DB2D7;
}

.data-elem-node {
  display: inline-block;
  padding: 5px;
  color: #80B2D6;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  margin-top: 8px;
}

.data-elem-node-del {
  position: absolute;
  top: -8px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.added-data-elem-node {
  overflow-y: auto;
  height: 100px;
}
.pre-step-title {
  font-size: 1.5em;
  font-weight: bold;
  color:#7F7F7F;
  padding-left: 5px;
  padding-top: 10px; 
}

.nluModeExplanation {
  width: 250px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.nluModeExplanation strong {
  color: #0056b3;
  font-weight: 600;
}

.btn-primary {
  background: #7DB2D7;
  border: none;
}


.ant-btn-primary {
  background: #7DB2D7;
  border: none;
}

.ant-btn-primary:hover {
  background: #7DB2D7 !important;
  border: none;
}

.ant-btn-dangerous {
  background-color: #F59F22 !important;
  border: none;
}

.ant-tabs-tab {
  color: #7F7F7F !important;
  font-weight: bold;
}

.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #7DB2D7 !important;
  text-shadow: 0 0 0.25px currentcolor;
}


.ant-tabs-nav::before{
  border-bottom: none !important;
}

.ant-tabs-ink-bar {
  background-color: #7DB2D7 !important;
}

.form-check-input:checked {
  background-color: #7DB2D7 !important;
  border-color: #7DB2D7 !important;
}

.form-select {
  color: #7F7F7F !important;
}

.accordion {
  --bs-accordion-active-bg: #A8C0D0;
  --bs-accordion-color: #fff !important;
}
.accordion-button:not(.collapsed) {
  color: #fff !important;
}
.accordion-button:not(.collapsed) font {
  color: #fff !important;
}
.accordion-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion * {
  color: #969696 !important;
}

.icon {
  font-size: 20px;
  width: 20px
}

.cm-theme-light *{
  font-family: "Helvetica" !important;
}

#csvFile {
  /* background-color: #7DB2D7; */
}

#csvFile input {
  background-color: #A8C0D0;
  color: #7F7F7F;
  padding: 0;
  margin: 0;
}

#csvFile input::-webkit-file-upload-button {
  visibility: hidden;
}

#csvFile input::before {
  content: 'Choose File';
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  /* border: 1px solid #7DB2D7; */
  border-right: 2px solid rgba(127, 127, 127, 0.5);
  color: #7F7F7F;
}

#csvFile input:hover::before {
  background-color: #A8C0D0;
  color: #7F7F7F;
}

#csvFile input::after {
  /* content: 'No Chosen File'; */
  display: inline-block;
  padding-right: 5px; 
}

#csvFile input::-webkit-file-upload-button {
  margin-right: 5px; /* 根据需要调整距离 */
}